<!--begin::Container-->
<div class="container-fluid">
  <app-boxes></app-boxes>

  <!--begin::Row-->
  <div class="row">
    <!-- Start col -->
    <div class="col-lg-6 connectedSortable">
      <!-- sales chart -->
      <app-card title="Sales Pie Chart">
        <app-pie-chart></app-pie-chart>
      </app-card>

      <!-- User Datatable -->
      <app-card title="USERS" classes="bg-color">
        <app-users [isCard]="true"></app-users>
      </app-card>
    </div>
    <!-- /.Start col -->

    <!-- Start col -->
    <div class="col-lg-6 connectedSortable">
      <app-card title="Sales Bar Chart">
        <app-bar-vertical-chart></app-bar-vertical-chart>
      </app-card>

      <!-- DIRECT CHAT -->
      <app-card
        title="Direct Chat"
        classes="direct-chat direct-chat-primary"
        [isFooter]="true"
      >
        <!-- main content -->
        <app-chat-box></app-chat-box>

        <!-- dynamic footer -->
        <div card-footer>
          <form action="#" method="post">
            <div class="input-group">
              <input
                type="text"
                name="message"
                placeholder="Type Message ..."
                class="form-control"
              />
              <span class="input-group-append">
                <button type="button" class="btn btn-primary">Send</button>
              </span>
            </div>
          </form>
        </div>
      </app-card>
      <!-- /.direct-chat -->
    </div>

    <!-- /.Start col -->
  </div>
  <!-- /.row (main row) -->
</div>
<!--end::Container-->
