<!--begin::Row-->
<div class="row mb-4">
  <!--begin::Col-->
  <div class="col-xl-3 col-sm-6 col-12">
    <app-medium-box
      title="Orders"
      [value]="150"
      icon="cart-check-fill"
      iconBgColor="primary-color"
      badgeBgColor="info"
    ></app-medium-box>
  </div>

  <div class="col-xl-3 col-sm-6 col-12">
    <app-medium-box
      title="Vendors"
      [value]="50"
      icon="shop-window"
      iconBgColor="tertiary-color"
      badgeBgColor="danger"
    ></app-medium-box>
  </div>

  <div class="col-xl-3 col-sm-6 col-12">
    <app-medium-box
      title="Customers"
      [value]="100"
      icon="people-fill"
      iconBgColor="success"
      badgeBgColor="success"
    ></app-medium-box>
  </div>

  <div class="col-xl-3 col-sm-6 col-12">
    <app-medium-box
      title="Staffs"
      [value]="10"
      icon="cart-check-fill"
      iconBgColor="warning"
      iconColor="text-muted"
      badgeBgColor="warning"
      badgeTextColor="muted"
    ></app-medium-box>
  </div>
</div>
<!--end::Row-->
